<!DOCTYPE html>
<html>

<head>
  <title>Just Stream It</title>

  <link rel="shortcut icon" type="image/png" href="./frontend/favicon1.png">



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="myPage">

  <!-- Sidebar on click -->
  <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2"
    id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
      class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
      <i class="fa fa-remove"></i>
    </a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <a href="#" class="w3-bar-item w3-button">Link 4</a>
    <a href="#" class="w3-bar-item w3-button">Link 5</a>
  </nav>

  <!--------------- Navbar -------------------->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-pale-red w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-red w3-hover-pale-red"><i
          class="fa fa-home w3-margin-right"></i>Home</a>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-hover-pale-red" title="Notifications">Amazon <i
            class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="./frontend/Amazon_Movies.html" class="w3-bar-item w3-button w3-hover-pale-red">Movies</a>
          <a href="./frontend/Amazon_TV_Shows.html" class="w3-bar-item w3-button w3-hover-pale-red">TV Shows</a>
        </div>
      </div>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-hover-pale-red" title="Notifications">HBO Now <i
            class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="./frontend/HBONOW_Movies.html" class="w3-bar-item w3-button w3-hover-pale-red">Movies</a>
          <a href="./frontend/HBONOW_TV_Shows.html" class="w3-bar-item w3-button w3-hover-pale-red">TV Shows</a>
        </div>
      </div>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-hover-pale-red" title="Notifications">Hulu <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="./frontend/Hulu_Movies.html" class="w3-bar-item w3-button w3-hover-pale-red">Movies</a>
          <a href="./frontend/Hulu_TV_Shows.html" class="w3-bar-item w3-button w3-hover-pale-red">TV Shows</a>
        </div>
      </div>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-hover-pale-red" title="Notifications">Itunes <i
            class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="./frontend/Itunes_Movies.html" class="w3-bar-item w3-button w3-hover-pale-red">Movies</a>
          <a href="./frontend/Itunes_TV_Shows.html" class="w3-bar-item w3-button w3-hover-pale-red">TV Shows</a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-hover-pale-red" title="Notifications">Netflix <i
            class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block ">
          <a href="./frontend/Netflix_Movies.html" class="w3-bar-item w3-button w3-hover-pale-red">Movies</a>
          <a href="./frontend/Netflix_TV_Shows.html" class="w3-bar-item w3-button w3-hover-pale-red">TV Shows</a>
        </div>
      </div>

      <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red">Work</a>
      <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red">Opinions</a>
      <a href="#service" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red">Service</a>
      <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-pale-red">Contact</a>


      <!-------------- Login Button Inside Navbar ------------------------>
      <button onclick="document.getElementById('id01').style.display='block'"
        class="w3-button w3-red  w3-hover-pale-red w3-large" style="float:right;">Login</button>


      <!-------------- Search Bar Inside Navbar ----------------------->
      <form action="./frontend/SearchResults.html" style="float:right;">
        <input type="text" class="w3-bar-item w3-input" placeholder="Enter search info..." name="Go">
        <button class=" w3-button w3-red  w3-hover-pale-red w3-large"
          onclick="window.location.href='SearchResults.html'"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <!---------------------------- Navbar on small screens ------------------------------->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
      <a href="#team" class="w3-bar-item w3-button">Team</a>
      <a href="#work" class="w3-bar-item w3-button">Work</a>
      <a href="#service" class="w3-bar-item w3-button">Service</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      <a href="#" class="w3-bar-item w3-button">Search</a>
    </div>
  </div>

  <!-------------------------------- Image Header ------------------------------------------->
  <div class="w3-display-container w3-animate-opacity">
    <img src="./frontend/HeaderImage-3.jpg" alt="popcorn" style="width:100%;min-height:800px;max-height:650px;">
  </div>

  <!------------------------------------ Modal (pop-up login on click) ------------------------------------------------>
  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

        <div class="w3-center"><br>
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
          <img src="./frontend/fullsizeoutput_74.jpeg" alt="Avatar" style="width:45%" class="w3-circle w3-margin-top">
        </div>

        <form class="w3-container" action="index.html">
          <div class="w3-section">
            <label><b>Username</b></label>
            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname"
              required>
            <label><b>Password</b></label>
            <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
            <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
          </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="document.getElementById('id01').style.display='none'" type="button"
            class="w3-button w3-red">Cancel</button>
          <span class="w3-right w3-padding w3-hide-small">Forgot <a href="./frontend/ForgotPassword.html">password?</a></span>
          <span class="w3-right w3-padding w3-hide-small">New User? <a href="./frontend/SignUp.html">Sign Up</a></span>
        </div>

      </div>
    </div>
  </div>

  <!------------------------------------------ Work Container --------------------------------------->
  <div class="w3-container w3-padding-64 w3-center w3-red" id="team">
    <h2>Our Work</h2>
    <p>Our mission is to provide our customers with a user-friendly servive that will help them identify which streaming
      service option will fit them the best. Our website shows the contents of each service and what they have to offer.
      We have also included sample movies and TV shows that will be on the website.
      You can also explore what each movie and TV show have to offer and search where your favorites will be.</p>


  </div>


  <!---------------------------------------  Opinions Row ------------------------------------- -->
  <div class=" w3-row-padding w3-padding-64 w3-red " id="work">
    <div class="w3-quarter" length="10000%">
      <div class="w3-card w3-white">
        <div class="w3-container">
          <h2>Netflix</h2>
          <h4>Pros</h4>
          <ul>
            <li>Excellent Selection</li>
            <li>Good Recommentdations</li>
          </ul>
          <h4>Cons</h4>
          <ul>
            <li>More Expensive</li>
            <li>Movies don't stay on forever</li>
            <li>Limited New Content</li>
          </ul>
          <h4>Outlook:</h4>
          <p>Considered the best streaming service in the business, no other service has been able to match Netflix's
            success. One of the perks
            is that you can create up to five different profiles so you can share it with family and friends and stay on
            the same plan.</p>

        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-card w3-white">
        <div class="w3-container">
          <h2>Hulu</h2>
          <h4>Pros</h4>
          <ul>
            <li>Good for Current TV</li>
            <li>Cheap</li>
            <li>Student Discount</li>
          </ul>
          <h4>Cons</h4>
          <ul>
            <li>Commercials</li>
            <li>Large Interface</li>
            <li>Inconsistent TV Selections</li>
          </ul>
          <h4>Outlook:</h4>
          <p>This provides a good alternative for people who don't want cable but like to keep up with current TV shows.
            This service provides access to most major network shows and a handful of cable shows the day after they
            air.</p>

        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-card w3-white">
        <div class="w3-container">
          <h2>HBO NOW</h2>
          <h4>Pros</h4>
          <ul>
            <li>Award-winning Programming</li>
            <li>Original News Programming</li>
            <li>Top-tier Movies/TV Shows</li>
          </ul>
          <h4>Cons</h4>
          <ul>
            <li>More Expensive</li>
            <li>Less Options</li>
            <br></br>

          </ul>
          <h4>Outlook:</h4>
          <p>This service is built upon the high quality of their originial TV shows, and is the same as having the
            cable channel itself.</p>

        </div>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-card w3-white">
        <div class="w3-container">
          <h2>Amazon Prime Video</h2>
          <h4>Pros</h4>
          <ul>
            <li>Good Original Shows</li>
            <li>Included with Other Amazon Benefits</li>
            <li>Student Discount</li>
          </ul>
          <h4>Cons</h4>
          <ul>
            <li>Rarely Gets New Shows</li>
            <li>Not Available on Some Devices</li>
          </ul>
          <br></br>
          <h4>Outlook:</h4>
          <p>Prime offers movies, TV shows, and original programming, as well as free two-day shipping on Prime
            purchases. Customers also recieve a free monthly Kindle book and have access to Amazon Music and Amazon
            Prime Instant Video.</p>


        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------  Pricing Row ------------------------------------- -->
  <div class="w3-row-padding w3-center w3-padding-64 w3-pale-red" id="service">
    <h2>OPTIONS</h2>
    <p>Choose a streaming service that fits your needs.</p><br>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Netflix</p>
        </li>
        <li class="w3-padding-16 w3-white"><b>3</b> Membership Plans</li>
        <li class="w3-padding-16 w3-white"><b>5,000+</b> Movies and TV Shows</li>
        <li class="w3-padding-16 w3-white"><b>Updates</b> Monthly</li>
        <li class="w3-padding-16 w3-white"><b>Free</b> 30 day trial</li>
        <li class="w3-padding-16 w3-white">
          <h2 class="w3-wide w3-white"><i class="fa fa-usd"></i> 12.99</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-white w3-padding-24">
          <a href="https://www.netflix.com/signup"><button class="w3-button w3-red w3-padding-large"><i
                class="fa fa-check"></i> Sign Up</button></a>
        </li>
      </ul>
    </div>


    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Amazon Prime Video</p>
        </li>
        <li class="w3-padding-16 w3-white"><b>Award Winning</b> Prime Originals</li>
        <li class="w3-padding-16 w3-white"><b>20,000+</b> Movies and TV Shows</li>
        <li class="w3-padding-16 w3-white"><b>Updates</b> Monthly</li>
        <li class="w3-padding-16 w3-white"><b>Free</b> 30 day trial</li>
        <li class="w3-padding-16 w3-white">
          <h2 class="w3-wide w3-white"><i class="fa fa-usd"></i> 12.99</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-white w3-padding-24">
          <a href="https://www.amazon.com/Prime-Video/b?node=2676882011" <button
            class="w3-button w3-red w3-padding-large"><i class="fa fa-check"></i> Sign Up</button></a>
        </li>
      </ul>
    </div>




    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Hulu</p>
        </li>
        <li class="w3-padding-16 w3-white"><b>Largest</b> Streaming Library</li>
        <li class="w3-padding-16 w3-white"><b>2,500+</b> Movies and TV Shows</li>
        <li class="w3-padding-16 w3-white"><b>HBO and SHOWTIME</b> available as add-ons</li>
        <li class="w3-padding-16 w3-white"><b>Free</b> 30 day trial</li>
        <li class="w3-padding-16 w3-white">
          <h2 class="w3-wide w3-white"><i class="fa fa-usd"></i> 5.99</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-white w3-padding-24">
          <a href="https://www.hulu.com/start?&cmp=7957&utm_source=google&utm_medium=cpc&utm_campaign=BM%20Search%20BrandTerms&utm_term=hulu%20subscription&ds_rl=1251096&ds_rl=1251096&gclid=EAIaIQobChMI0secoaDT4QIV24uzCh3UhghgEAAYASAAEgL3pPD_BwE&gclsrc=aw.ds"
            <button class="w3-button w3-red w3-padding-large"><i class="fa fa-check"></i> Sign Up</button></a>
        </li>
      </ul>
    </div>




    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">HBO NOW</p>
        </li>
        <li class="w3-padding-16 w3-white"><b>Subscribe</b> through your Internet Provider</li>
        <li class="w3-padding-16 w3-white"><b>950+</b> Movies and TV Shows</li>
        <li class="w3-padding-16 w3-white"><b>Updates</b> Daily</li>
        <li class="w3-padding-16 w3-white"><b>Free</b> 7 day trial</li>
        <li class="w3-padding-16 w3-white">
          <h2 class="w3-wide w3-white"><i class="fa fa-usd"></i> 14.99</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-white w3-padding-24">
          <a href="https://www.hbo.com/order/now?pid=googleadwords_int&c=Google%7cSearch%7cMKL%7cIQ_ID_-VQ16-c&camp=Google%7cSearch%7cMKL%7cIQ_ID_-VQ16-c&gclid=EAIaIQobChMIjeOPvaDT4QIVloKzCh3nyAwfEAAYASAAEgIrhfD_BwE&gclsrc=aw.ds"
            <button class="w3-button w3-red w3-padding-large"><i class="fa fa-check"></i> Sign Up</button></a>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">iTunes</p>
        </li>
        <li class="w3-padding-16 w3-white"><b>Cable and Premium</b> Channels</li>
        <li class="w3-padding-16 w3-white"><b>All</b> Movies and TV Shows</li>
        <li class="w3-padding-16 w3-white"><b>Updates</b> Daily</li>
        <li class="w3-padding-16 w3-white"><b>Free</b> Download</li>
        <li class="w3-padding-16 w3-white">
          <h2 class="w3-wide w3-white"> Rent or Buy</h2>
          <span class="w3-text-white"> per month </span>
        </li>
        <li class="w3-white w3-padding-24">
          <a href="https://www.apple.com/itunes/download/" <button class="w3-button w3-red w3-padding-large"><i
              class="fa fa-check"></i> Download</button></a>
        </li>
      </ul>
    </div>
  </div>

  <!---------------------------------------  Contact Container ------------------------------------- -->
  <div class="w3-container w3-padding-64 w3-red" id="contact">
    <div class="w3-row">
      <div class="w3-col m5">
        <div class="w3-padding-16"><span class="w3-xlarge w3-border-black w3-bottombar">Contact Us</span></div>
        <h3>University of Tennessee</h3>
        <p>Industrial & Systems Engineering</p>
        <p><i class="fa fa-map-marker w3-text-black w3-xlarge"></i>  Knoxville, TN</p>
        <p><i class="fa fa-phone w3-text-black w3-xlarge"></i>  (865)974-5321</p>
        <p><i class="fa fa-envelope-o w3-text-black w3-xlarge"></i>  ise@vols.utk.edu</p>
      </div>
      <div id="app" class="w3-col m7 w3-container w3-card-4 w3-padding-16 w3-white">
        <form>
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input v-model="email"  class="w3-input" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Comment</label>
            <input v-model="comment"  class="w3-input" type="text" name="Message" required>
          </div>
          <input class="w3-check" type="checkbox" checked name="Like">
          <label>I Like it!</label>
          <p>{{status}}</p>
          <button type="button" @click.prevent="submitComment()" class="w3-button w3-black w3-right">Send</button>
          <p id="demo"></p>
        </form>
      </div>
    </div>
  </div>

  <!---------------------------------------  Footer ------------------------------------- -->
  <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-red" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-red" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-red" href="javascript:void(0)" title="Google +"><i
        class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-red" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-red w3-hide-small" href="javascript:void(0)" title="Linkedin"><i
        class="fa fa-linkedin"></i></a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

    <div style="position:sticky;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
      <span class="w3-text w3-padding w3-red w3-hide-small">Go To Top</span>
      <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
          <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
  </footer>

  <script>
    // Script for side navigation
    function w3_open() {
      var x = document.getElementById("mySidebar");
      x.style.width = "300px";
      x.style.paddingTop = "10%";
      x.style.display = "block";
    }

    // Close side navigation
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    function sendButton() {
      document.getElementById("demo").innerHTML = "Your message has been submitted!";

    }
  </script>

  <!-- Scripts -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="assets/js/my.js"></script>

</body>

</html>